@using MudBlazor
@inject IDataConfigurationService dataConfiguration
@inject IPopupMessage displayMessage

@if (data == null)
{
    <p>No data</p>
}
else
{
    <MudCard Elevation="25">
        <MudCardHeader Class="pb-1">
            <MudText Class="pb-1" Typo="Typo.h6">
                @(edit ? $"Edit Taxonomy {dataItem.Datatype}" : "Add New Taxonomy")
            </MudText>
        </MudCardHeader>
        <MudCardContent Class="pt-1">
            <MudTextField @bind-Value="dataItem.Datatype" Label="Data type" Variant="Variant.Text" Margin="Margin.Normal"></MudTextField>
            <MudTextField @bind-Value="dataItem.Keys" Label="Keys" Variant="Variant.Text" Margin="Margin.Normal"></MudTextField>
            <MudTextField @bind-Value="dataItem.Select" Label="Select string" Variant="Variant.Text" Margin="Margin.Normal"></MudTextField>
            <br />
            <MudButton Variant="Variant.Filled" Color="Color.Success" OnClick="Save">Save</MudButton>
        </MudCardContent>
    </MudCard>
    <br />
    <MudTable Elevation="25" Items="@data" Dense="true" Hover="true">
        <ColGroup>
            <col />
            <col />
            <col />
            <col style="width:300px;" />
        </ColGroup>
        <HeaderContent>
            <MudTh>Data Type</MudTh>
            <MudTh>Keys</MudTh>
            <MudTh>Select</MudTh>
            <MudTh>Action</MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd DataLabel="Data Type">@context.Datatype</MudTd>
            <MudTd DataLabel="Mappings">@context.Keys</MudTd>
            <MudTd DataLabel="Constants">@context.Select</MudTd>
            <MudTd DataLabel="">
                <MudFab @onclick="@(() => Edit(@context))" Color="Color.Primary" StartIcon="@Icons.Material.Filled.Edit" Size="Size.Small" IconSize="Size.Small" />
                <MudFab @onclick="@(() => Delete(@context))" Color="Color.Secondary" StartIcon="@Icons.Material.Filled.Delete" Size="Size.Small" IconSize="Size.Small" />
            </MudTd>
        </RowTemplate>
    </MudTable>
}

@code {
    [Parameter] public string Content { get; set; }
    [Parameter] public string ConfigFile { get; set; }
    private List<PPDMDataModel> data;
    private PPDMDataModel dataItem = new PPDMDataModel();
    bool edit = false;

    protected override async Task OnInitializedAsync()
    {
        Console.WriteLine("Starting PPDM access");
        data = Newtonsoft.Json.JsonConvert.DeserializeObject<List<PPDMDataModel>>(Content);
    }

    private async Task Save()
    {
        Console.WriteLine($"Save object : {dataItem.Datatype}");
        if (!edit)
        {
            Console.WriteLine($"Insert object not implemented");
            data.Add(dataItem);
        }
        string configFile = ConfigFile;
        ResponseDto response = await dataConfiguration.SaveRecords<ResponseDto>(configFile, data);
        if (!response.IsSuccess)
        {
            await displayMessage.DisplayErrorMessage(" There is a problem saving data");
        }
        edit = false;
        dataItem = new PPDMDataModel();
    }

    private async Task Delete(PPDMDataModel item)
    {
        Console.WriteLine($"Delete {item.Datatype}");
        data.RemoveAll(x => x.Datatype == item.Datatype);
        string configFile = ConfigFile;
        ResponseDto response = await dataConfiguration.SaveRecords<ResponseDto>(configFile, data);
        if (!response.IsSuccess)
        {
            await displayMessage.DisplayErrorMessage(" There is a problem saving data");
        }
    }

    private void Edit(PPDMDataModel item)
    {
        Console.WriteLine($"Edit object : {item.Datatype}");
        edit = true;
        dataItem = item;
    }

    private class PPDMDataModel
    {
        public string Datatype { get; set; }
        public string Keys { get; set; }
        public string Select { get; set; }
    }
}
