<EditForm Model="TransferParameters" OnValidSubmit="OnValidSubmit">
    <DataAnnotationsValidator />
    <div>
        <h3>Target Database</h3>
    </div>
    <div class="form-group">
        <label>Name:</label>
        <div>
            <InputText class="form-control" @bind-Value="@TransferParameters.TargetDatabase" />
            <ValidationMessage For="@(() => TransferParameters.TargetDatabase)" />
        </div>
    </div>
    <div class="form-group">
        <label>Server:</label>
        <div>
            <InputText class="form-control" @bind-Value="@TransferParameters.TargetDatabaseServer" />
            <ValidationMessage For="@(() => TransferParameters.TargetDatabaseServer)" />
        </div>
    </div>
    <div class="form-group">
        <label>User:</label>
        <div>
            <InputText class="form-control" @bind-Value="@TransferParameters.TargetDatabaseUser" />
            <ValidationMessage For="@(() => TransferParameters.TargetDatabaseUser)" />
        </div>
    </div>
    <div class="form-group">
        <label>Password:</label>
        <div>
            <InputText type ="password" class="form-control" @bind-Value="@TransferParameters.TargetDatabasePassword" />
            <ValidationMessage For="@(() => TransferParameters.TargetDatabasePassword)" />
        </div>
    </div>

    <div>
        <h3>Source Database</h3>
    </div>
    <div class="form-group">
        <label>Name:</label>
        <div>
            <InputText class="form-control" @bind-Value="@TransferParameters.SourceDatabase" />
            <ValidationMessage For="@(() => TransferParameters.SourceDatabase)" />
        </div>
    </div>
    <div class="form-group">
        <label>Server:</label>
        <div>
            <InputText class="form-control" @bind-Value="@TransferParameters.SourceDatabaseServer" />
            <ValidationMessage For="@(() => TransferParameters.SourceDatabaseServer)" />
        </div>
    </div>
    <div class="form-group">
        <label>User:</label>
        <div>
            <InputText class="form-control" @bind-Value="@TransferParameters.SourceDatabaseUser" />
            <ValidationMessage For="@(() => TransferParameters.SourceDatabaseUser)" />
        </div>
    </div>
    <div class="form-group">
        <label>Password:</label>
        <div>
            <InputText type ="password" class="form-control" @bind-Value="@TransferParameters.SourceDatabasePassword" />
            <ValidationMessage For="@(() => TransferParameters.SourceDatabasePassword)" />
        </div>
    </div>

    <button class="btn btn-success" type="submit">Start Transfer</button>
</EditForm>

@code {
    [Parameter] public TransferParameters TransferParameters { get; set; }
    [Parameter] public EventCallback OnValidSubmit { get; set; }
}
