@page "/uniquenessdrilldown/{Id:int}"
@inject IDataQc qc
@inject IRules rules
@inject IReportEdit re
@inject SingletonServices singleton
@using MudBlazor
@using Microsoft.VisualBasic.FileIO;
@using System.IO;

<h3>@header</h3>

@if (dataIndex == null)
{
    <text>Loading Data...</text>
}
else if (dataDeleted)
{
    <text>Data has been deleted...</text>
}
else
{
    <MudTable Items="@reportList" Dense="true" Hover="true" ReadOnly="false"  
    Striped="true" IsEditRowSwitchingBlocked="false" Filter="new Func<ReportData, bool>(FilterFunc)"
    CommitEditTooltip="Commit Edit">
        <ToolBarContent>
            <MudText Typo="Typo.h6">@header</MudText>
            <MudSpacer />
            <MudTextField @bind-Value="searchString" Placeholder="Search" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
        </ToolBarContent>
        <ColGroup>
            <col style="width:50px;" />
            <col style="width:50px;" />
            <col style="width:50px;" />
            <col style="width:140px;"/>
            <col />
            <col />
        </ColGroup>
        <HeaderContent>
            <MudTh style="background-color:lightgray">Merge</MudTh>
            <MudTh style="background-color:lightgray">Delete</MudTh>
            <MudTh style="background-color:lightgray">Detail</MudTh>
            <MudTh style="background-color:lightgray"><MudTableSortLabel SortBy="new Func<ReportData, object>(x=>x.Id)">Index Id</MudTableSortLabel></MudTh>
            <MudTh style="background-color:lightgray"><MudTableSortLabel SortBy="new Func<ReportData, object>(x=>x.Key)">Data Key</MudTableSortLabel></MudTh>
            <MudTh style="background-color:lightgray"><MudTableSortLabel SortBy="new Func<ReportData, object>(x=>x.TextValue)">Uniqueness Key</MudTableSortLabel></MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd DataLabel="">
                <MudFab @onclick="@(()=>Merge(@context.Id))" Color="Color.Tertiary" Icon="@Icons.Material.Filled.Merge" Size="Size.Small" IconSize="Size.Small" />
            </MudTd>
            <MudTd DataLabel="">
                <MudFab @onclick="@(()=>Delete(@context.Id))" Color="Color.Secondary" Icon="@Icons.Material.Filled.Delete" Size="Size.Small" IconSize="Size.Small" />
            </MudTd>
            <MudTd>
                <MudFab @onclick="@(() => ShowBtnPress(context.Id))" Color="Color.Primary" Icon="@((context.ShowDetails == true)? @UnHideIcon : @HideIcon)" Size="Size.Small" IconSize="Size.Small" />
            </MudTd>
            <MudTd DataLabel="Index Id">@context.Id</MudTd>
            <MudTd DataLabel="Data Key">@context.Key</MudTd>
            <MudTd DataLabel="Uniqueness Key">@context.TextValue</MudTd>
        </RowTemplate>
        <PagerContent>
            <MudTablePager />
        </PagerContent>
        <ChildRowContent>
            @if (context.ShowDetails)
            {
                <MudTr>
                    <td colspan="4">
                        <MudCard Elevation="0">
                            <MudCardContent>
                                <MudText>Data Object</MudText>
                                <MudText Typo="Typo.body2">@context.JsonData</MudText>
                            </MudCardContent>
                        </MudCard>
                    </td>
                </MudTr>
            }
        </ChildRowContent>
    </MudTable>
}

@code {
    [Parameter] public int Id { get; set; }
    public List<DmsIndex> dataIndex;
    public RuleModel ruleModel;
    private string header = "";
    private bool dataDeleted = false;
    private string searchString = "";
    List<ReportData> reportList;
    private string UnHideIcon = Icons.Material.Filled.HorizontalRule;
    private string HideIcon = Icons.Material.Filled.Add;


    protected override async Task OnInitializedAsync()
    {
        Console.WriteLine($"Rule id = {Id}");

        ruleModel = await rules.GetRule(singleton.TargetConnector, Id);
        header = ruleModel.RuleName;
        reportList = await CreateReportList();
        Console.WriteLine($"Number of failures are {dataIndex.Count}");
    }

    private async Task<List<ReportData>> CreateReportList()
    {
        dataIndex = await qc.GetResult(singleton.TargetConnector, Id);
        if (dataIndex.Count == 0) dataDeleted = true;
        else if (dataIndex != null)
        {
            DmsIndex firstObject = dataIndex.First();
            string jsonData = firstObject.JsonData;
            if (string.IsNullOrEmpty(jsonData)) dataDeleted = true;
        }
        reportList = new List<ReportData>();
        foreach (var item in dataIndex)
        {
            string key = item.DataKey;
            reportList.Add(new ReportData
                {
                    Id = item.Id,
                    JsonData = item.JsonData,
                    Key = key,
                    RuleKey = ruleModel.RuleKey,
                    TextValue = item.UniqKey
                });
        }
        return reportList;
    }

    private async Task Delete(int id)
    {
        Console.WriteLine($"Delete index id {id}");
        await re.Delete(singleton.TargetConnector, id);
        List<ReportData> reportList = await CreateReportList();
        this.StateHasChanged();
    }

    private async Task Merge(int id)
    {
        Console.WriteLine($"Merge index id {id}");
        ReportData report = reportList.FirstOrDefault(x => x.Id == id);
        await re.Merge(singleton.TargetConnector, report);
        reportList = await CreateReportList();
        this.StateHasChanged();
    }

    private void ShowBtnPress(int id)
    {
        ReportData item = reportList.First(f => f.Id == id);
        item.ShowDetails = !item.ShowDetails;
    }

    private bool FilterFunc(ReportData item)
    {
        Console.WriteLine($"Filter Function");
        if (string.IsNullOrWhiteSpace(searchString)) return true;
        if (item.JsonData.Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        return false;
    }
}
